@model SearchResultVm

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="loading-div-background" class="h-100 overlay">
        <div class="h-100 align-items-center centring">
            <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
        </div>
    </div>
    <h1 class="display-4 display-2">Questor Project</h1>

    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new {id = "search-form"}))
    {
        <div class="d-inline-block float-left">
            <input type="radio" name="searchPlace" value="online" checked onchange="checkSearchType(this)">
            <span> Online</span>
            <input type="radio" name="searchPlace" value="offline" id="radio-offline" onchange="checkSearchType(this)">
            <span> Offline</span>
        </div>
        <div class="d-inline-block float-left" id="search-engines">
            @if (Model != null)
            {
                @for (var i = 0; i < Model.SelectedEngines.Count; i++)
                {
                    <div class="d-inline-block mr-1">
                        @Html.HiddenFor(model => model.SelectedEngines[i].Id)
                        @Html.HiddenFor(model => model.SelectedEngines[i].Name)
                        @Html.CheckBoxFor(model => model.SelectedEngines[i].Checked)
                        @Html.LabelFor(model => model.SelectedEngines[i].Checked, Model.SelectedEngines[i].Name)
                    </div>
                }
            }
        </div>

        <div class="row" style="min-width: 77em">
            <div class="input-group">
                <input class="form-control input-lg border-right-0 border" placeholder="Search..." id="search-input" name="question" value="@Model?.Question">
                <span class="input-group-append">
                    <button class="btn-primary btn btn-outline-secondary border-left-0 border" type="submit" id="search-button" disabled>
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <p/>
    }
    <div id="results"/>
</div>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="js/home/index.js"></script>